.divFotos {
    border: 1px solid #E0E0E0;
    width: 100px;
    border-radius: 3px;
}

.imgProduto {
    width: 50px;
}

.texto-direita {
    margin-top: 10px;
}

#linhaPontilhada {
    border-top: 1px dashed #ccc;
    border-bottom: none;
}

#div-btn-comprar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#btn-comprar {
    width: 300px;
    height: 45px;
    background-color: green;
}

#btn-retirar {
    width: 300px;
    height: 45px;
    margin-top: 5px;
}

#div-frete {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 5px;
    height: 70px;
    align-items: center;
    background-color: #E9F3FF;
}

#CEP {
    margin-right: 10px;
    height: 35px;
    padding-left: 20px;
}

#card-descricao {
    margin-top: 20px;
    border: 2px solid lightgray;
    margin-bottom: 5px;
}

#div-descricao {
    height: 50px;
    display: flex;
    border-bottom: 2px solid lightgray;
    align-items: center;
}

.card-especificacoes {
    margin-top: 20px;
    border: 2px solid lightgray;
    margin-bottom: 20px;
}

.div-especificacoes {
width: 48%;
}